<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<servlet>
		<servlet-name>member</servlet-name>
		<servlet-class>com.bora.controller.MemberController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>member</servlet-name>
		<url-pattern>/member/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>file</servlet-name>
		<servlet-class>com.bora.controller.FileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>file</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>reply</servlet-name>
		<servlet-class>com.bora.controller.ReplyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reply</servlet-name>
		<url-pattern>/reply/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>reserve</servlet-name>
		<servlet-class>com.bora.controller.ReserveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reserve</servlet-name>
		<url-pattern>/reserve/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>activity</servlet-name>
		<servlet-class>com.bora.controller.ActivityController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>activity</servlet-name>
		<url-pattern>/activity/*</url-pattern>
	</servlet-mapping>
	<display-name>activity</display-name>
</web-app>